<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready To Get Started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident
        saepe aperiam reprehenderit voluptatem quasi mollitia laborum quia
        deserunt iure rerum repudiandae soluta dolores, necessitatibus ab,
        nostrum, accusamus eos? Labore, dolor.
      </p>
    </div>
    <a href="#" class="button button--secondary button--long button--link"
      >GET STARTED</a
    >
  </div>
</div>
