<div class="collapsible">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <span
      class="
        icon-container icon-container--white
        icon--white
        collapsible__chevron
      "
    >
      <svg class="icon">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </span>
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nobis
      consequatur quam quae! Voluptatibus ipsa sint, inventore tenetur impedit
      debitis culpa quis. Et iste quidem, dolores fuga doloribus recusandae
      labore.
    </p>
  </div>
</div>
<div class="collapsible">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <span
      class="
        icon-container icon-container--white
        icon--white
        collapsible__chevron
      "
    >
      <svg class="icon">
        <use xlink:href="images/sprite.svg#chevron"></use>
      </svg>
    </span>
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nobis
      consequatur quam quae! Voluptatibus ipsa sint, inventore tenetur impedit
      debitis culpa quis. Et iste quidem, dolores fuga doloribus recusandae
      labore.
    </p>
  </div>
</div>
